.header {
  border-block-end: 1px solid var(--rs-color-border-neutral-faded);
  background-color: var(--rs-color-background-neutral-faded);
  z-index: 10;
  height: 64px;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.separator {
  width: 1px;
  height: 24px;
  background-color: var(--rs-color-border-neutral-faded);
  flex-shrink: 0;
}

.searchWrapper {
  min-width: 240px;
}

.searchField {
  input {
    font-size: 14px;
    height: 32px;
  }
}

.shortcutBadge {
  padding: 4px 6px;
  background-color: var(--rs-color-background-neutral-faded);
  border-radius: 4px;
  border: 1px solid var(--rs-color-border-neutral-faded);
}

.notificationWrapper {
  position: relative;
}

.notificationBadge {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 6px;
  height: 6px;
  background-color: #b42318;
  border-radius: 50%;
  border: 1px solid var(--rs-color-background-neutral-faded);
}

.headerCollapsed {
  display: flex;
  justify-content: center;
  background-color: var(--rs-color-background-neutral-faded);
  border-block-end: 1px solid var(--rs-color-border-neutral-faded);
  transition: all 0.3s ease;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  right: 0;
  z-index: 1000;
  width: fit-content;
  border-radius: 0 0 var(--rs-radius-small) var(--rs-radius-small);

  &:hover {
    background-color: var(--rs-color-background-neutral);
  }
}
