
			[data-rs-theme~="legacy"] {
					--rs-font-family-title: newBlackTypeface, sans-serif;
--rs-font-family-body: Montserrat, sans-serif;
--rs-font-family-monospace: Geist Mono, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
--rs-font-family-heading: Montserrat, sans-serif;
--rs-font-weight-regular: 400;
--rs-font-weight-medium: 500;
--rs-font-weight-semibold: 600;
--rs-font-weight-bold: 700;
--rs-font-weight-extrabold: 800;
--rs-font-weight-black: 900;
--rs-font-size-title-1: 6rem;
--rs-line-height-title-1: 6.25rem;
--rs-font-family-title-1: var(--rs-font-family-title);
--rs-font-weight-title-1: var(--rs-font-weight-extrabold);
--rs-letter-spacing-title-1: normal;
--rs-font-size-title-2: 5rem;
--rs-line-height-title-2: 5.25rem;
--rs-font-family-title-2: var(--rs-font-family-title);
--rs-font-weight-title-2: var(--rs-font-weight-extrabold);
--rs-letter-spacing-title-2: normal;
--rs-font-size-title-3: 4rem;
--rs-line-height-title-3: 4.25rem;
--rs-font-family-title-3: var(--rs-font-family-title);
--rs-font-weight-title-3: var(--rs-font-weight-extrabold);
--rs-letter-spacing-title-3: normal;
--rs-font-size-title-4: 3.5rem;
--rs-line-height-title-4: 3.75rem;
--rs-font-family-title-4: var(--rs-font-family-title);
--rs-font-weight-title-4: var(--rs-font-weight-bold);
--rs-letter-spacing-title-4: normal;
--rs-font-size-title-5: 3rem;
--rs-line-height-title-5: 3.25rem;
--rs-font-family-title-5: var(--rs-font-family-title);
--rs-font-weight-title-5: var(--rs-font-weight-bold);
--rs-letter-spacing-title-5: normal;
--rs-font-size-title-6: 2.25rem;
--rs-line-height-title-6: 2.5rem;
--rs-font-family-title-6: var(--rs-font-family-title);
--rs-font-weight-title-6: var(--rs-font-weight-bold);
--rs-letter-spacing-title-6: normal;
--rs-font-size-featured-1: 2rem;
--rs-line-height-featured-1: 2.5rem;
--rs-font-family-featured-1: var(--rs-font-family-body);
--rs-letter-spacing-featured-1: normal;
--rs-font-size-featured-2: 1.5rem;
--rs-line-height-featured-2: 2rem;
--rs-font-family-featured-2: var(--rs-font-family-body);
--rs-letter-spacing-featured-2: normal;
--rs-font-size-featured-3: 1.25rem;
--rs-line-height-featured-3: 1.75rem;
--rs-font-family-featured-3: var(--rs-font-family-body);
--rs-letter-spacing-featured-3: normal;
--rs-font-size-body-1: 1.125rem;
--rs-line-height-body-1: 1.75rem;
--rs-font-family-body-1: var(--rs-font-family-body);
--rs-letter-spacing-body-1: normal;
--rs-font-size-body-2: 1rem;
--rs-line-height-body-2: 1.5rem;
--rs-font-family-body-2: var(--rs-font-family-body);
--rs-letter-spacing-body-2: normal;
--rs-font-size-body-3: 0.875rem;
--rs-line-height-body-3: 1.25rem;
--rs-font-family-body-3: var(--rs-font-family-body);
--rs-letter-spacing-body-3: normal;
--rs-font-size-caption-1: 0.75rem;
--rs-line-height-caption-1: 1rem;
--rs-font-family-caption-1: var(--rs-font-family-body);
--rs-letter-spacing-caption-1: normal;
--rs-font-size-caption-2: 0.625rem;
--rs-line-height-caption-2: 0.75rem;
--rs-font-family-caption-2: var(--rs-font-family-body);
--rs-letter-spacing-caption-2: normal;
--rs-unit-base: 4px;
--rs-unit-x1: 4px;
--rs-unit-x2: 8px;
--rs-unit-x3: 12px;
--rs-unit-x4: 16px;
--rs-unit-x5: 20px;
--rs-unit-x6: 24px;
--rs-unit-x7: 28px;
--rs-unit-x8: 32px;
--rs-unit-x9: 36px;
--rs-unit-x10: 40px;
--rs-radius-small: 8px;
--rs-radius-medium: 12px;
--rs-radius-large: 16px;
--rs-color-brand: oklch(0.4978 0.2622 265.646);
--rs-color-white: oklch(1 0 0);
--rs-color-black: oklch(0 0 0);
--rs-color-on-background-primary: oklch(1 0 0);
--rs-color-on-background-critical: oklch(1 0 0);
--rs-color-on-background-warning: oklch(0 0 0);
--rs-color-on-background-positive: oklch(1 0 0);
--rs-color-on-brand: oklch(1 0 0);
--rs-color-rgb-white: 255, 255, 255;
--rs-color-rgb-black: 0, 0, 0;
--rs-duration-rapid: 100ms;
--rs-duration-fast: 200ms;
--rs-duration-medium: 300ms;
--rs-duration-slow: 400ms;
--rs-easing-standard: cubic-bezier(0.4, 0, 0.2, 1);
--rs-easing-accelerate: cubic-bezier(0.4, 0, 1, 1);
--rs-easing-decelerate: cubic-bezier(0, 0, 0.2, 1);
--rs-shadow-raised: 0px 1px 5px -4px rgba(0, 0, 0, 0.5), 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
--rs-shadow-overlay: 0px 5px 10px 0px rgba(0, 0, 0, 0.05), 0px 15px 25px 0px rgba(0, 0, 0, 0.07);
--rs-viewport-m-min: 660;
--rs-viewport-l-min: 900;
--rs-viewport-xl-min: 1280;
--rs-z-index-relative: 10;
--rs-z-index-absolute: 100;
--rs-z-index-fixed: 200;
			}
		
			[data-rs-theme~="legacy"][data-rs-color-mode="light"] {
					--rs-color-background-primary: oklch(0.4978 0.2622 265.646);
--rs-color-background-primary-faded: oklch(0.97 0.02 265.646);
--rs-color-border-primary: oklch(0.4178 0.2622 265.646);
--rs-color-border-primary-faded: oklch(0.92 0.03 265.646);
--rs-color-foreground-primary: oklch(0.5 0.2622 265.646);
--rs-color-background-critical: oklch(0.59 0.22 26.97);
--rs-color-background-critical-faded: oklch(0.97 0.02 26.97);
--rs-color-border-critical: oklch(0.51 0.22 26.97);
--rs-color-border-critical-faded: oklch(0.92 0.03 26.97);
--rs-color-foreground-critical: oklch(0.5 0.22 26.97);
--rs-color-background-warning: oklch(0.83 0.2 80);
--rs-color-background-warning-faded: oklch(0.97 0.04 80);
--rs-color-border-warning: oklch(0.75 0.2 80);
--rs-color-border-warning-faded: oklch(0.92 0.05 80);
--rs-color-foreground-warning: oklch(0.5 0.2 80);
--rs-color-background-positive: oklch(0.53 0.13 153.78);
--rs-color-background-positive-faded: oklch(0.97 0.02 153.78);
--rs-color-border-positive: oklch(0.45 0.13 153.78);
--rs-color-border-positive-faded: oklch(0.92 0.03 153.78);
--rs-color-foreground-positive: oklch(0.5 0.13 153.78);
--rs-color-background-neutral: oklch(0.92 0.01 262.67);
--rs-color-background-neutral-faded: oklch(0.97 0.005 262.67);
--rs-color-border-neutral: oklch(0 0.01 262.67 / 0.12);
--rs-color-border-neutral-faded: oklch(0 0.005 262.67 / 0.08);
--rs-color-foreground-neutral: oklch(0.2 0.01 262.67);
--rs-color-foreground-neutral-faded: oklch(0.45 0.01 262.67);
--rs-color-background-disabled: oklch(0.95 0 262.67);
--rs-color-background-disabled-faded: oklch(0.98 0 262.67);
--rs-color-border-disabled: oklch(0 0.01 262.67 / 0.06);
--rs-color-foreground-disabled: oklch(0.84 0 262.67);
--rs-color-background-elevation-base: oklch(1 0 262.67);
--rs-color-background-elevation-raised: oklch(1 0 262.67);
--rs-color-background-elevation-overlay: oklch(1 0 262.67);
--rs-color-background-page: oklch(1 0 262.67);
--rs-color-background-page-faded: oklch(0.97 0 262.67);
--rs-color-rgb-background-primary: 27.999, 66.9885, 244.0095;
--rs-color-rgb-background-primary-faded: 238.68, 245.2335, 259.2075;
--rs-color-rgb-background-critical: 226.593, 39.168, 41.0295;
--rs-color-rgb-background-critical-faded: 258.5445, 240.3885, 237.8895;
--rs-color-rgb-background-warning: 265.7865, 180.5145, -70.15050000000001;
--rs-color-rgb-background-warning-faded: 259.6665, 242.862, 215.577;
--rs-color-rgb-background-positive: 14.177999999999999, 128.673, 70.788;
--rs-color-rgb-background-positive-faded: 235.4415, 249.3645, 239.0115;
--rs-color-on-background-neutral: oklch(0 0 0);
--rs-color-rgb-background-neutral: 224.96099999999998, 228.6585, 235.416;
--rs-color-rgb-background-neutral-faded: 243.219, 245.10600000000002, 248.523;
--rs-color-rgb-background-disabled: 238.29749999999999, 238.29749999999999, 238.29749999999999;
--rs-color-rgb-background-disabled-faded: 248.2935, 248.2935, 248.2935;
--rs-color-rgb-background-elevation-base: 255, 255, 255;
--rs-color-rgb-background-elevation-raised: 255, 255, 255;
--rs-color-rgb-background-elevation-overlay: 255, 255, 255;
--rs-color-rgb-background-page: 255, 255, 255;
--rs-color-rgb-background-page-faded: 244.953, 244.953, 244.953;
			}
		
			[data-rs-theme~="legacy"][data-rs-color-mode="dark"] {
					--rs-color-background-primary: oklch(0.4978 0.2098 265.646);
--rs-color-background-primary-faded: oklch(0.25 0.042 265.646);
--rs-color-border-primary: oklch(0.5978 0.2098 265.646);
--rs-color-border-primary-faded: oklch(0.35 0.042 265.646);
--rs-color-foreground-primary: oklch(0.75 0.2229 265.646);
--rs-color-background-critical: oklch(0.5874 0.176 26.97);
--rs-color-background-critical-faded: oklch(0.25 0.0352 26.97);
--rs-color-border-critical: oklch(0.6874 0.176 26.97);
--rs-color-border-critical-faded: oklch(0.35 0.0352 26.97);
--rs-color-foreground-critical: oklch(0.75 0.187 26.97);
--rs-color-background-warning: oklch(0.8036 0.16 80);
--rs-color-background-warning-faded: oklch(0.25 0.032 80);
--rs-color-border-warning: oklch(0.9036 0.16 80);
--rs-color-border-warning-faded: oklch(0.35 0.032 80);
--rs-color-foreground-warning: oklch(0.75 0.17 80);
--rs-color-background-positive: oklch(0.5162 0.104 153.78);
--rs-color-background-positive-faded: oklch(0.25 0.0208 153.78);
--rs-color-border-positive: oklch(0.6162 0.104 153.78);
--rs-color-border-positive-faded: oklch(0.35 0.0208 153.78);
--rs-color-foreground-positive: oklch(0.75 0.1105 153.78);
--rs-color-background-neutral: oklch(0.36 0.008 262.67);
--rs-color-background-neutral-faded: oklch(0.25 0.01 262.67);
--rs-color-border-neutral: oklch(1 0.008 262.67 / 0.16);
--rs-color-border-neutral-faded: oklch(1 0.01 262.67 / 0.08);
--rs-color-foreground-neutral: oklch(0.96 0.008 262.67);
--rs-color-foreground-neutral-faded: oklch(0.81 0.008 262.67);
--rs-color-background-disabled: oklch(0.28 0 262.67);
--rs-color-background-disabled-faded: oklch(0.23 0 262.67);
--rs-color-border-disabled: oklch(0.28 0 262.67);
--rs-color-foreground-disabled: oklch(0.4 0 262.67);
--rs-color-background-elevation-base: oklch(0.2 0 262.67);
--rs-color-background-elevation-raised: oklch(0.21 0 262.67);
--rs-color-background-elevation-overlay: oklch(0.22 0 262.67);
--rs-color-background-page: oklch(0.16 0 262.67);
--rs-color-background-page-faded: oklch(0.18 0 262.67);
--rs-color-rgb-background-primary: 40.3665, 81.702, 215.373;
--rs-color-rgb-background-primary-faded: 23.918999999999997, 32.9715, 53.8305;
--rs-color-rgb-background-critical: 208.437, 69.87, 62.526;
--rs-color-rgb-background-critical-faded: 48.6285, 26.877, 24.378;
--rs-color-rgb-background-warning: 244.1625, 177.3525, 31.7985;
--rs-color-rgb-background-warning-faded: 41.6925, 31.900499999999997, 15.1215;
--rs-color-rgb-background-positive: 45.5685, 120.86999999999999, 75.1995;
--rs-color-rgb-background-positive-faded: 25.9335, 36.643499999999996, 29.0445;
--rs-color-on-background-neutral: oklch(1 0 0);
--rs-color-rgb-background-neutral: 58.8285, 61.149, 65.43299999999999;
--rs-color-rgb-background-neutral-faded: 31.0335, 33.6855, 38.556;
--rs-color-rgb-background-disabled: 40.774499999999996, 40.774499999999996, 40.774499999999996;
--rs-color-rgb-background-disabled-faded: 28.815, 28.815, 28.815;
--rs-color-rgb-background-elevation-base: 21.9555, 21.9555, 21.9555;
--rs-color-rgb-background-elevation-raised: 24.225, 24.225, 24.225;
--rs-color-rgb-background-elevation-overlay: 26.52, 26.52, 26.52;
--rs-color-rgb-background-page: 13.209, 13.209, 13.209;
--rs-color-rgb-background-page-faded: 17.5185, 17.5185, 17.5185;
			}
		